<div class="index-css">
	<div class="index-top">
		<div class="my-container ">
			<div class="left">
				<div class="point"><img src="../../assets/img/point.png" />&nbsp;&nbsp;邯郸
					<a href="">[切换]</a>
				</div>
			</div>
			<div class="right injoin">
				<a href="">登录</a>|
				<a href="">免费注册</a>|
				<a href="">机构认证</a>
			</div>
		</div>
	</div>
	<div class="my-container">
		<div class="top-container">
			<div class="left logo">
				<img src="../../assets/img/logo.png" alt="起跑线" />
			</div>
			<div class="left search">
				<div class="searchCont">
					<div class="input-search">
						<input type="text" class="form-control" placeholder="搜索">
						<button class="button">搜索</button>
					</div>
					<div class="search-label">
						<a href="" class="active">中小学辅导</a>
						<a href="">舞蹈</a>
						<a href="">美术</a>
						<a href="">少儿英语</a>
						<a href="">跆拳道</a>
					</div>
				</div>
			</div>
			<div class="left erweima">
				<img src="../../assets/img/erweima.jpg" />
			</div>
		</div>
		<div class="nav">
			<div class="col-nav left">
				<div class="type">
					<a href="">教育分类</a>
					<ul>
						<li>
							<dl>
								<dt>艺术,兴趣</dt>
								<dd>
									<a href="">美术</a>
									<a href="">画画</a>
									<a href="">音乐</a>
									<img src="" />
								</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>学前,小学</dt>
								<dd>
									<a href="">早教</a>
									<a href="">英语</a>
									<a href="">奥数</a>
								</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>初中,高中</dt>
								<dd>
									<a href="">初中辅导</a>
									<a href="">高中辅导</a>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
			<nav class="row-nav left">
				<ul class="">
					<li class="active">
						<a href="#">首页 </a>
					</li>
					<li>
						<a href="#">帮我选校</a>
					</li>
					<li>
						<a href="#">参选投票</a>
					</li>
					<li>
						<a href="#">问答中心</a>
					</li>
					<li>
						<a href="#">免费试学</a>
					</li>
					<li>
						<a href="#">地图展示</a>
					</li>
					<li>
						<a href="#">实时监控</a>
					</li>
					<li>
						<a href="#">App下载</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="banner">
		<div class="my-container">
			<div class="userInfo">
				<div class="headInfo">
					<img src="../../assets/img/head.png" alt="" />
					<dl>
						<dt>
					  	黑猫
					  	</dt>
						<dd>欢迎来到起跑线</dd>
					</dl>
				</div>
				<div class="btnGroup">
					<button>登录</button>
					<button>注册</button>
				</div>
				<div class="dataInfo">
					<dl>
						<dt>
							注册用户
						</dt>
						<dd>23421</dd>
					</dl>
					<dl>
						<dt>
							入住机构
						</dt>
						<dd>23421</dd>
					</dl>
				</div>
				<hr />
				<div class="dataInfo">
					<dl>
						<dt>
							注册用户
						</dt>
						<dd>23421</dd>
					</dl>
					<dl>
						<dt>
							入住机构
						</dt>
						<dd>23421</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>