//导入模块样式
@import "../mixins";
@import "../mixins/button";
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.index-css {
    width: 100%;
    .index-top {
        width: 100%;
        line-height: 30px;
        height: 30px;
        background: #f6f6f6;
        .injoin {
            >a {
                color: #131313;
                display: inline-block;
                margin: 0 5px;
            }
        }
    }
    .top-container {
        .logo,
        .erweima {
            width: 20%;
            padding-top: 20px;
            text-align: center;
        }
        .search {
            width: 60%;
            .searchCont {
                width: 80%;
                margin: 25px auto 10px;
                .input-search {
                    border: 1px solid #1184e1;
                    input {
                        border: 0;
                        width: 89.3%;
                        &:active,
                        &:focus {
                            outline: none;
                            border-color: #cfdc00;
                            @include shadow(0 0 5px rgba(207, 220, 0, 0.4));
                        }
                        display: inline-block;
                    }
                    .button {
                        width: 10%;
                        line-height: 35px;
                        margin-top: 0;
                        text-align: center;
                        background: #1184e1;
                        cursor: pointer;
                        color: #fff;
                        display: inline-block;
                        border: 0;
                    }
                }
                .search-label {
                    margin-top: 5px;
                    >a {
                        display: inline-block;
                        color: #888;
                        margin-right: 10px;
                        &:hover {
                            color: red;
                        }
                    }
                    .active {
                        color: red;
                    }
                }
            }
        }
        .erweima {
            padding-top: 8px;
        }
    }
    .nav {
        width: 100%; //      border: 1px solid red;
        .col-nav {
            width: 20%;
            background: #1184E1;
            .type {
                position: relative;
                width: 100%;
                >a {
                    padding: 15px;
                    color: #fff;
                    font-size: 16px;
                    display: inline-block;
                }
                >ul {
                    width: 100%;
                    position: absolute;
                    color: #fff;
                    @include opacity(90);
                    background: #1178c4;
                    list-style-type: none;
                    z-index: 1;
                    min-height: 371px;
                    >li {
                        padding-left: 15px;
                        height: 67px;
                        border-bottom: 1px solid #f3f3f3;
                        padding-top: 6px;
                        >dl {
                            margin-bottom: 0;
                            dt {
                                color: #fff;
                                font-size: 15px;
                            }
                            dd {
                                margin-top: 8px;
                                >a {
                                    font-size: 13px;
                                    margin-right: 10px;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
        .row-nav {
            width: 80%;
            >ul {
                width: 100%;
                list-style-type: none;
                >li {
                    float: left;
                    >a {
                        padding: 15px;
                        color: #000;
                        font-size: 16px;
                        display: inline-block;
                        &:hover {
                            color: #FF2C55;
                        }
                    }
                }
            }
        }
    }
    .my-container {
        margin: 0 auto; //      border: 1px solid red;
        width: 1024px;
    }
    .banner {
        width: 100%;
        height: 371px;
        min-width: 1024px;
        background: url("../../../assets/img/banner.jpg") center;
        .userInfo {
            float: right;
            width: 230px;
            height: 300px;
            @include opacity(90);
            margin-top: 15px;
            background: #fff;
            padding: 20px;
            .headInfo {
                margin: 25px 0;
                >img,
                >dl {
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 0;
                    font-size: 12px;
                }
                >dl {
                    margin-left: 15px;
                    dd {
                        margin-top: 10px;
                    }
                }
            }
            .btnGroup {
                padding-bottom: 30px;
                >button {
                    @include btn(80px, 30px,#1184E1);
                    @include radius(0);
                    float: left;
                    &:last-child {
                        background: #FF2D55;
                        float: right;
                    }
                }
                &:after {
                    clear: both;
                    display: table;
                    content: "";
                }
            }
            .dataInfo {
                dl {
                    float: left;
                    margin: 0;
                    float: left;
                    width: 50%;
                    text-align: center;
                    dt {
                        font-weight: 100;
                        color: #2c2c2c;
                        font-size: 12px;
                    }
                    dd {
                        font-size: 14px;
                        color: #ff2d55;
                    }
                    &:last-child {
                        float: right;
                    }
                }
                &:after {
                    clear: both;
                    display: table;
                    content: "";
                }
            }
            hr {
                height: 0;
                width: 100%;
                margin: 10px 0;
                border: 1px dashed #C8C8C8;
            }
        }
    }
    .link {
        ul {
            list-style-type: none; //          border: 1px solid red;
            >li {
                width: 20%;
                float: left;
                overflow: hidden;
                min-height: 101px;
                >a {
                    display: inline-block;
                    padding: 10px 10px 0;
                }
                &:first-child {
                    @include opacity(90);
                    background: #1178c4;
                }
            }
        }
        &:after {
            clear: both;
            display: table;
            content: "";
        }
    }
    .countPanel {
        margin-top: 30px;
        .panel {
            .panel-head {
                //              border: 1px solid red;
                h3,
                .nav-link {
                    display: inline-block;
                    width: 74%;
                    padding-left: 7px;
                    >a {
                        color: #000;
                        font-size: 17px;
                        display: inline-block;
                        margin: 0 15px;
                        &:hover,
                        &.active {
                            color: #117ad0;
                        }
                    }
                }
                h3 {
                    width: 25%;
                    padding-left: 11px;
                    margin-top: 10px;
                }
            }
            .panel-body {
                padding: 0;
                border-top: 1px solid #C8C8C8;
                .cover,
                .record {
                    width: 25%;
                    padding-top: 21px;
                }
                .cover {
                    border-right: 1px solid #C8C8C8;
                    text-align: center;
                    img {
                        width: 86%;
                    }
                }
                .class {
                    width: 57%;
                    background: yello;
                    >ul {
                        overflow: hidden;
                        padding-left: 15px;
                        li {
                            float: left;
                            width: 33%;
                            padding: 0 5px;
                            margin-top: 21px;
                            dl {
                                width: 100%;
                                dd {
                                    margin-top: 10px;
                                    font-size: 13px;
                                    color: #121212;
                                    p {
                                        margin-bottom: 5px;
                                    }
                                    label {
                                        display: inline-block;
                                        padding: 2px;
                                        font-size: 12px;
                                        border: 1px solid #f3f3f3;
                                        color: #999;
                                    }
                                    .active {
                                        color: red;
                                    }
                                }
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .record {
                    width: 18%;
                    button {
                        @include btn(100%, 30px,#1184E1);
                        @include radius(0);
                    }
                    .menList {
                        li {
                            font-size: 12px;
                            color: #4f4f4f;
                            margin-top: 10px;
                            >span {
                                display: inline-block;
                                width: 50%;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                &:first-child {
                                    width: 15%;
                                }
                                &:last-child {
                                    text-align: right;
                                    width: 30%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .business {
        margin-top: 30px;
        .title {
            >h3 {
                font-size: 18px;
                border-left: 2px solid #1184e1;
                padding-left: 15px;
                font-weight: bold;
                small {
                    margin-left: 5px;
                    font-size: 12px;
                }
            }
        }
        ul {
            margin-top: 25px;
            li {
                width: 20%;
                float: left;
                text-align: center;
                h5 {
                    font-weight: bold;
                }
                p {
                    color: #4f4f4f;
                }
            }
        }
    }
    .bottom {
        .friendlLink {
            a {
                display: inline-block;
                margin: 0 5px;
            }
        }
        hr {
            height: 2px;
            background: #106CB9;
        }
        .bottomInfo {
            .bottomlink {
                width: 60%;
                float: left;
                .links {
                    width: 25%;
                    float: left;
                    ul {
                        li {
                            list-style-type: disc;
                            a {
                                color: #000;
                            }
                        }
                    }
                }
            }
            .bottomPhone {
                width: 40%;
                float: left;
                dl {
                    float: left;
                    text-align: center;
                    width: 33%;
                }
            }
        }
        .copyrightPic,
        .copyright {
            clear: both;
            width: 100%;
            padding: 5px;
            display: table;
            text-align: center;
            content: "";
        }
    }
}